#loader {
	margin: 0 auto;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#prod-list-title {
	font-style: italic;
}
ul#prod-list {
	list-style-type: none;
	margin-left: 4em;
}
ul#prod-list li {
	margin: 1em 0;
}
li[role="presentation"] {
	cursor: pointer;
}
